@charset "utf-8";
/* CSS Document */
body, form, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dt, dd, dl{ margin:0; padding:0; }
body{ font:12px Arial, Helvetica, sans-serif; background:#FF6600;}
.clear{ clear:both; }
ul, li{ list-style:none; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
outline:none;
}
@font-face {
	font-family: 'Conv_HeadlandOne-Regular';
	src: url('fonts/HeadlandOne-Regular.eot');
	src: local('☺'), url('fonts/HeadlandOne-Regular.woff') format('woff'), url('fonts/HeadlandOne-Regular.ttf') format('truetype'), url('fonts/HeadlandOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_EagleLake-Regular_0';
	src: url('fonts/EagleLake-Regular_0.eot');
	src: local('☺'), url('fonts/EagleLake-Regular_0.woff') format('woff'), url('fonts/EagleLake-Regular_0.ttf') format('truetype'), url('fonts/EagleLake-Regular_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
p{font:12px/16px Arial, Helvetica, sans-serif; color:#434242;}
h1{ font-family:'Conv_HeadlandOne-Regular',Sans-Serif; font-size:54px; color:#ffffff; padding: 0 0 0 0; }
h2{ font-family:'Conv_EagleLake-Regular_0',Sans-Serif; font-size:24px; color:#000;}
h3{ font:normal 25px Arial, bold, Helvetica, sans-serif; color:#000000; text-align:center;}
h4{ font:normal 25px Arial, Helvetica, sans-serif; color:#e35c02; text-align:center;}
h5{ font:normal 16px Arial, Helvetica, sans-serif; color:#ffffff; text-align:center; padding:15px 0 15px 0;}
h6{ font:bold 18px Arial, Helvetica, sans-serif; color:#000000; text-decoration:underline; padding:0 0 0 5px;}
/*html .clearfix { height:1%; }*/
html[xmlns] .clearfix { display:block; }
a{ color:#434242; text-decoration:none; }
a:hover{ color:#4e9a12;}
a img{ border:none; outline:none; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clear, .divider { clear:both; } 


.Wrapper{width:1000px; margin:0 auto;}

.Header{ padding:0 77px; padding:18px 0 30px 0; position:relative; }
.Header h1 span{ display:block; font:normal 22px Arial, Helvetica, sans-serif; color:#fff; padding: 0 0 0 0;}
.Header p{ background:url(../images/call.png) no-repeat 0 0; padding:0 0 0 40px; position:absolute; top:110px; right:0; font: normal 24px/30px Arial, Helvetica, sans-serif;	color:#fff;}
.Header p span{ display:block; font:normal 15px Arial, Helvetica, sans-serif; color:#fff; margin-top:2px;  }
.Header p span a{ color:#000; text-decoration:underline; }
.Header span.header-span{     
    font-size: 17px;
}
button.appointment-btn
{
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 4px 5px 4px 5px;
    margin-top: 0;
    background: #fff;
    color: #504e4e;
    /* cursor: pointer; */
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

.Nav{ background:url(../images/nav_bg.png) no-repeat bottom; padding:0 0 15px 0;  margin-top:20px;}
.Navinner { /*background:url(../images/nav-bg.jpg) repeat-x;*/ background: #fff !important; }
.Navinner p {font: normal 16px/35px Arial, Helvetica, sans-serif; padding:0 0 0 15px; color:#000; float:left;}
.Navinner ul { float:right; overflow:hidden; }
.Navinner ul li { float:left; margin-right:50px; }
.Navinner ul li.Home { background:url(../images/home_icon.png) no-repeat 0 50%; padding:0 0 0 35px; margin-right:10px;}
.Navinner ul li.Service { background:url(../images/service_icon.png) no-repeat 0 50%; padding:0 0 0 34px; margin-right:10px;}
.Navinner ul li.Contact { background:url(../images/contact_icon.png) no-repeat 0 50%; padding:0 0 0 37px;}
.Navinner ul li a { font:normal 12px/35px Arial, Helvetica, sans-serif; color:#000; }
.Navinner ul li a#active{display:block; font-family:Arial, Helvetica, sans-serif;font-size:15px;text-decoration:underline; text-transform:uppercase; color:#3d2d02;padding-top:9px; font-weight:bold; padding-left:25px;}

.slidimg ul li { float:left; margin-right:21px ;}
.slidimg ul li img {background-color:#fff; padding:5px; border:1px solid #BF4D01;}
.slidimg ul li.none { margin: 0;}

.marqimg{ background:url(../images/marq_img.jpg) repeat-x; padding:0 0 35px 0; margin:20px 0; }
.marqimg p { font: bold 14px/22px Arial, Helvetica, sans-serif ; color:#000; height:18px; overflow:hidden; padding:10px 0 0 0; text-align:center;}

.muchmore{ background: #fff; padding:10px 0 10px 0; margin:20px 0; text-align: center;}
.muchmore span{ font: normal 24px Arial, Helvetica, sans-serif;}


.contain {  padding:0 0 10px 0; position:relative;}
.contain ul li { background-color:#fff; float: left; width:470px; margin:0 0 0 20px; padding:30px 10px 100px 10px; text-align:justify; font: Normal 14px/23px Arial, Helvetica, sans-serif;}
.contain ul li.none {margin:0;}
.contain span{ position:absolute; left:310px; bottom:50px; font: bold 17px Arial, Helvetica, sans-serif;}
.contain p{text-align: center;}
.contain strong { color:#000; font-size:13px;}



.slogon { background-color:#fff; padding:35px 0; margin:20px 0 0 0;}
.slogon span { font:12px Arial, Helvetica, sans-serif; text-align:center; display:block; padding:10px 0 0 0;}
.slogon strong { color:#00cc00; font-weight:normal; text-decoration:underline;}



.sliding ul li { float:left; margin-right:21px;  font:18px Arial, Helvetica, sans-serif; color:#fff;}
.sliding ul li img {background-color:#fff; padding:4px; border:1px solid #BF4D01; }
.sliding ul li.none {margin:0;}
.sliding ul li span{ display:block; }
.sliding ul li span a, .sliding ul li a span   { color:#fff;}


.Footer {  padding:0 0 10px 0; position:relative; margin:20px 0 0 0;}
.Footer ul li { background-color:#fff; float: left; width:211px; margin:0 0 0 25px; padding:10px; height:246px; overflow:hidden;}
.Footer ul li h6{ padding-left:0; }
.Footer ul li.kurtha {margin:0; font:bold 13px Arial, Helvetica, sans-serif; line-height:22px;}
.Footer ul li.kurtha img{ margin:7px 0 0 0; }
.Footer ul li.time{ font:bold 12px Arial, Helvetica, sans-serif; line-height:18px; }
.Footer ul li.cont-info { font: bold 12px Arial, Helvetica, sans-serif; line-height:16px; }
.Footer ul li.time strong { font: bold 18px Arial, Helvetica, sans-serif; margin:0 0 5px 0; text-decoration:underline; display:block; }
.Footer ul li.whitey { font:bold 13px  Arial, Helvetica, sans-serif; line-height:18px; }
.Footer ul li.whitey h3 {  font:normal 18px "Times New Roman", Times, serif; color:#000; text-align:left; }
.Footer ul li span { /*color:#03A303;*/ color: #000;}
.Footer ul li img {background-color:#f4dada; padding:3px; position:absolute;}



.copyrite{ padding:20px 0 0 0; line-height:25px;}
.copyrite p { float:left; color:#fff; font:13px/25px Arial, Helvetica, sans-serif;}
.copyrite ul{ float:right; font: normal 13px Arial, Helvetica, sans-serif; }
.copyrite ul li {float: left; color:#fff; line-height:25px;}
.copyrite ul li img{ padding:0 0 0 6px; }

.Footer_nav ul { float:left; overflow:hidden; }
.Footer_nav ul li { float:left; }
.Footer_nav ul li.Home { padding:0;}
.Footer_nav ul li.Home a { color:#fff;}
.Footer_nav ul li.Contact { padding: 0 0 0 10px; }
.Footer_nav ul li.Contact a { color:#fff;}
.Footer_nav ul li.review { padding:0 0 0 10px;}
.Footer_nav ul li.review a { color:#fff;}



/*start of service page*/

.service { clear:both; overflow:hidden; }
.service .left{ width:450px; padding:20px; float:left;}
.service .right{ width:450px; padding:20px; float:right;}
.service h2{ font: bold 20px Arial, Helvetica, sans-serif; color:#fff; padding:5px; text-align:center;}
.service h3{ font: bold 16px Arial, Helvetica, sans-serif; color:#000; padding:5px; text-align:left; padding-left:0;}
.service ul li{ background:#fff; overflow:hidden; border-top:10px solid #e55c00; font:normal 12px/18px Arial, Helvetica, sans-serif; padding:3px 0;}
.service ul li ul {}
.service ul li ul li {border:none;}
.service span { font: bold 25px "Times New Roman", Times, serif;}

.quality{ background-color:#FFF; padding:10px 5px 0 14px; overflow:hidden;}
.quality p { font: normal 12px Arial, Helvetica, sans-serif; color:#000; padding:5px 0 5px 10px;}
.quality h2 { font:bold 18px Arial, Helvetica, sans-serif; text-align:center; padding:5px 0 5px 0;}
.quality h3 { font:bold 16px Arial, Helvetica, sans-serif; text-align:center; padding:10px 0 10px;}

/*******view comments*****/
.comments { background-color:#EEE; padding:20px; position:relative; margin:20px 0 0 0; }
.comments p{ padding:0 10px 0px 10px; font:13px Arial, Helvetica, sans-serif normal; color:#000; text-align:justify; overflow:hidden;}
.comments span{ font:17px Arial, Helvetica, sans-serif; color:#070; display:block; padding:5px 0; }
.comments img { float:left;}
.comments ul li { overflow:hidden; margin:10px 10px 10px 0; border-bottom:4px solid #fff; padding-bottom:5px;}
.comments ul {overflow:auto; height:500px;}

/*---------- Contact Page -----------*/
.Contactuspage {  padding:0 0 10px 0; position:relative;}
.Contactuspage ul li { background-color:#fff; float: left; width:470px; margin:0 0 0 20px; padding:15px 10px 10px 10px;}
.Contactuspage ul li.formli{ background-color:#fff; float: left; width:470px; margin:0 0 0 20px; padding:5px 30px 10px 30px;}
.Contactuspage ul li.none {margin:0;}


.Contactus p { padding:5px 0; }
.Contactus p label{ float:left; width:100%; font: normal 16px/18px "Times New Roman", Times, serif; padding:7px 0 0 0; color:#000;}
.Contactus span.star{ color:red; padding:0 0 0 5px; }
.Contactus p input{ float:left; width:100%; border:1px solid #999; padding:5px;   }
.Contactus p select{ float:left; width:100%; border:1px solid #999; padding:5px;   }
.Contactus p textarea{ float:left; width:100%; border:1px solid #999; padding:5px;  }
.Contactus p input.btn{ float:left; width:80px; border:none; padding:5px 8px; background-color:#F60; color:#fff; margin:0 10px 0 0; cursor:pointer; }
.Contactus p input.btn:hover{ background:#066AC7;} 
.Contactus p.Note{ padding:20px 0 0 177px; font-style:italic; }

.Contactus .btn_note{
    overflow: hidden;
    padding: 5px 0;
    display: flex;
    align-items: center;
}



.Message{ font:bold 16px Arial, Helvetica, sans-serif; color:#930; }
.thankyou{ font:bold 12px Arial, Helvetica, sans-serif; }
.error{ font:12px Arial, Helvetica, sans-serif; color:red; }
.googlemap{height:502px !important; width:480px; border:1px solid #999; float:right; text-align:center; margin-right:5px; padding:5px; }

span.addr_busi{
color: #000 !important;
font-size: 14px;
}
span.hour_busi{
color: #000 !important;
font-size: 15px;
text-decoration: underline;
}
p.since_p {
    background: none !important;
    top: 88px;
    right: 130px;
}
span.since_p {
font-size: 18px !important;
font-style: italic;
position: absolute;
    top: 116px;
    right: 228px;
    color: #fff;
}
.hours_part{
    width: 100%;
    height: auto;
    padding: 0;
padding-bottom: 5px;
}

a.logo_text:hover{
   text-decoration: none !important;
   color: #fff !important;
}

/*---- Appointmain boxes----------*/
.appointmail{
    background-color:#fff;
    margin-bottom: 38px;
    font: bold 13px Arial, Helvetica, sans-serif;
}
.appointmail .oapt{
    color: #333;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 43px;
    position:relative;
   font-size:45px;
}
.appointmail .oapt:before{
    content: ' ';
    position: absolute;
    border-bottom: 2px solid #e2e2e25e;
    bottom: 0;
    width: 87%;
    margin: 0 auto;
    margin-bottom: -17px;
    left: 0;
    margin-left: 59px;
}
.Appoint-container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 19px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
}

.Appoint-container .appoint{
    width: 100%;
    padding: 40px 12px;
    border: 1px solid #cc00ff;
   transition:background 2s ease ;
    border-radius: 6px;
}

.Appoint-container .appoint h4{
    color: #000;
    font-size: 16px;
    margin-bottom: 15px;
    transition: color 2s ease;
}
.Appoint-container .appoint p{
      text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
}
.Appoint-container .appoint p span{
    margin-right: 13px;
    position:relative;
}
.Appoint-container .appoint p span::before{
       content: ' ';
    position: absolute;
    border-right: 2px solid #00000069;
    width: 20px;
    height: 16px;
    right: 0;
    top: 0;
    margin-right: -7px;
}
.Appoint-container .appoint .button{
     text-align: center;
    position: relative;
}
.Appoint-container .appoint .button input{
     opacity: 0;
     position: absolute;
    width: 143px;
    height: 143px;
    margin-left: 63px;
    left: 0;
    top: 0;
    margin-top: -62px;
       z-index: -1;
}
.Appoint-container .appoint .button label{
    background-color: #cc00ff;
    font-weight: 600;
    padding: 5px 15px;
    color: #fff;
}
.Appoint-container .appoint .button label:hover{
  color:none;
}
.appointmail  .formli {
    width: 100% !important;
    padding: 0 30px !important;
}
.appointmail  .formli  .title1{
       color: #000;
    font-size: 18px;
    font-weight: 500;
}
.appointmail .formcontrrol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}
.appointmail .formcontrrol p input{
 height: 42px;
    border-radius: 5px;
    font-size: 18px;
}
.appointmail .formcontrrol p input:focus{
   outline:none;
}
.appointmail .formcontrrol p input:focus-visible{
  outline:none;
}
  .appointmail   .btn_note{
      padding: 16px 0 !important;
}
.appointmail  .Contactus p label{
   font-size: 18px !important;
    color: #928c8c;
    font: 12px/16px Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.appointmail  .Contactus p input.btn{
    width: 94px !important;
    padding: 10px 15px !important;
}

.appointmail  .Contactus p input.btn:focus{
 outline:none;
border:none;
}
.appointmail  .Contactus p input.btn:focus-visible{
 outline:none;
}
.appointmail  .Contactus span.star {
    color: #ff5959;
    padding: 0 0 0 0;
    font-size: 16px;
}
.appointmail  .Contactus p:last-child{
margin-top:61px;
}
.appointmail  .Contactus p:last-child label{
margin-top:11px;
}
.appointmail .div_pos_red{
  margin-left: 28px;
    font-weight: 900;
   color:red;
}
.appointmail .div_pos_green{
	margin-left: 2px;
	font-weight: 900;
	color:green;
}
.appointmail  .fornerrormsg{
	color: #CC00FF;
	padding-bottom: 10px;
        font-size: 13px;
	font-weight: 600;
}

/*---------- Responsive -----------*/
.marqimg p {
height: 28px;
}

.Contactus p.Note {
padding: 0;
font-style: italic;
}

.Contactuspage ul li {
width: 510px;
}

.slidimg ul li img {
width: 149px;
height: 200px;
}

h2 {
font-family: 'Conv_EagleLake-Regular_0',Sans-Serif;
font-size: 24px;
color: black;
font-weight: 800;
}

.contain ul li {
background-color: white;
float: left;
width: 490px;
margin: 0 0 0 20px;
padding: 30px 10px 100px 10px;
text-align: justify;
font: Normal 14px/23px Arial, Helvetica, sans-serif;
}


.sliding ul li img {
background-color: white;
padding: 4px;
border: 1px solid #BF4D01;
/*width: 234px;
height: 328px;*/
width: 100%;
height: auto;
}

.Footer ul li {
background-color: white;
float: left;
width: 231px;
margin: 0 0 0 25px;
padding: 10px;
height: 360px;
overflow: hidden;
}

.copyrite {
padding: 20px 0 35px 0;
line-height: 25px;
}
.Note {
color: #CC00FF;
font-size: 14px;
font-style: italic;
font-weight: 600;
}
.appointment_note{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding: 0 10px 0 0 !important;
}
.appointment_note span{
	font-size: 14px;
    line-height: 20px;
	color: #000;
      position:relative;
     display:block;
 
}
.point_1::after{
	content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left:0;
      bottom: -3px;	
      background: #CC00FF;
    
}
.point_2::after{
	content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left:0;
      bottom: -3px;	
      background: #CC00FF;
}
.point_3::after{
	content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left:0;
      bottom: -3px;	
      background: #CC00FF;
}
	


@media (max-width: 720px){

.Wrapper{
	width:100%
}

h1 {
font-family: 'Conv_HeadlandOne-Regular',Sans-Serif;
font-size: 35px;
color: white;
padding: 10px;
text-align: center;
}

.Header h1 span {
display: block;
font: normal 14px Arial, Helvetica, sans-serif;
color: white;
padding: 3px;
}

.Header p {
background: url(../images/call.png) no-repeat 0 0;
padding: 0 0 0 40px;
font: normal 24px/30px Arial, Helvetica, sans-serif;
color: white;
text-align: center;
margin: 15%;
display: inline;
position:static;
}

.Nav {
background: url(../images/nav_bg.png) no-repeat bottom;
padding: 0 0 15px 0;
margin-top: 0px
}

.Header {
	padding-bottom : 0px;
}

.Navinner {
background: #f5f5f5;
}

.Navinner p {
font: normal 16px/35px Arial, Helvetica, sans-serif;
padding: 0 0 0 15px;
color: black;
float: none;
text-align: center;
}
.Navinner ul {
float: right;
overflow: hidden;
}

.marqimg p {
height: auto;
padding: 10px;
background: whiteSmoke;
}

.slidimg ul li {
float: none;
margin: 0px 0px 10px 0px;
text-align: center;
}

.contain ul li.none{
margin-bottom: 15px;
}
.contain ul li{
margin: 0;
padding: 5%;
float: none;
width: 100%;
margin-bottom: 15px;
font: Normal 15px Arial, Helvetica, sans-serif;
}

.contain span {
position:static;
font: bold 17px Arial, Helvetica, sans-serif;
text-align: center;
display: block;
}

.slogon {
background-color: white;
padding: 0;
margin: 20px 0 0 0;
}

h5 {
font: normal 16px Arial, Helvetica, sans-serif;
color: white;
text-align: center;
padding: 5%;
}

.sliding ul li {
float: none;
margin: 0;
font: 18px Arial, Helvetica, sans-serif;
color: white;
text-align: center;
margin-bottom: 20px;
}

.Footer ul li{
	float:none;
}

.Footer ul li.kurtha, .Footer ul li.time, .Footer ul li.cont-info, .Footer ul li.whitey {
margin: 0;
margin-bottom: 15px;
width: 100%;
text-align: center;
padding: 5%;
}

.copyrite ul {
display:none;
}

.copyrite p {
float: none;
color: white;
font: 13px/25px Arial, Helvetica, sans-serif;
text-align: center;
}

.copyrite {
padding: 0;
}

.Footer_nav ul {
display:block;

margin:5%;
}

.Footer_nav ul li.Home a, .Footer_nav ul li.Contact a, .Footer_nav ul li.review a {
display: block;
color: white;
background: rgba(255, 255, 255, 0.3);
padding: 5px 15px;
font-weight: 800;
font-size: 14px;
}

.Contactuspage ul li, .Contactuspage ul li.none {
width: 100%;
margin:0;
padding:5%;
margin-bottom: 15px;
}

.service .right, .service .left {
width: 100%;
padding: 5%;
float: none;
}

.quality {
text-align: center;
padding:5%;
}
.quality p{
padding:0;
}

.quality img{
float:none;
}

.comments ul li {
text-align: center;
}

.comments img {
float: none;
margin-bottom:5px;
}

.Footer ul li img {
  background-color: #f4dada;
  padding: 3px;
  position: static;
}
/* ----Appoitment-----*/

.Appoint-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
 }
.calender-container .ui-widget.ui-widget-content {
 margin: 0 auto !important;
    max-width: 88%;
}
.appointmail .formcontrrol {
    grid-template-columns: 1fr;
}
.appointmail .formli {
      width: 100% !important;
    padding: 0 19px !important;
}
.appointmail .oapt{
   font-size:35px;
}
}